#headerStyle {
	color: #7fb7be;
	font-size: 40px;
	font-family: 'sans-serif';
	font-weight: bold;
	background-color: #f1f1f1;
	text-align:center;
	padding-top: 30px;
	/* margin-top: 30px; */
}

nav {
	margin: 0;
	padding: 0;
	width: 100%;

} 

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #7fb7be;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
} 

li {
	float: left;
	font-size: 20px;
	font-family: 'sans-serif';
}

li a {
	display: block;
	color: #f1f1ef;
	text-align: center;
	padding: 10px 15px;
	text-decoration: none;
	border-right: 2px solid #e2dfd8;
}

li a:hover:not(.active) {
	background-color: #9dd3cb;
} 

#auth {
	border-right: none;
	float: right;
}

body {
	/* padding: 20px; */
	/* margin-top: 30px; */
	background-color: #f1f1f1;
	width: 100%;
    height: 100%;
    background-attachment: fixed;
	margin: 0;
}

.bodyStyle {
	text-align:center;
	/* padding: 20px; */
}  

.formContainer {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	border: 3px solid #7fb7be;
	border-radius: 20px;
}  

.blurbContainer {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* justify-content: center; */
	border: 3px solid #7fb7be;
	border-radius: 20px;
} 

#formStyle {
	text-align:left;
	padding: 30px;
	margin: 20px;
} 

.bookList {
	display: inline-flex;
	flex-wrap: wrap;
	margin-top: 25px;
}

.bookStyle {
	margin: 10px;
}

#blurb {
	justify-content: center;
	margin: 10px;
	font-size: 40px;

}