{% extends 'base.html' %}

{% block title %} 
Add Author 👥
{% endblock %} 

<body> 
    {% block content %}
		<Header id="headerStyle"><p>Add an Author</p></Header>

		<div class="formContainer">
			<div id="formStyle">
                <form action="" method="post">
                    {% csrf_token %}
                        <table>
                    {{ form.as_table }}
                        </table>
                        <input type="submit" value="Submit!">
                </form>
            </div>            
        </div>

    {% endblock %}
</body>
