{% extends 'base.html' %}

{% block title %} 
    Author Detail 
{% endblock %}

<body>
    {% block content %}
        <Header id="headerStyle"><p>Author Detail</p></Header>

<div class='bodyStyle'>
    <div>
        <span>{{ author.name }}</span>
        <p>Author of:</p>
        {% for book in books %}
        <img src="{{book.img}}" alt="{{book.title}}"width="150" height="220"/>
        {% empty %}
            <p>This Author has no books.</p>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'authors_update' author.id %}">Edit</a>
        <a href="{% url 'authors_delete' author.id %}">Delete</a>
    </div>
</div>

{% endblock %}
</body>
