<!-- templates/cattoy_show.html -->
{% extends 'base.html' %}
{% block content %}

<h1>Author Detail</h1>

<div>
    <div>
        <span>{{ author.name }}</span>
        <p>Author of:</p>
        {% for book in books %}
            <p>{{book.title}}</p>
        {% empty %}
            <p>This Author has no books.</p>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'authors_update' author.id %}">Edit</a>
        <a href="{% url 'authors_delete' author.id %}">Delete</a>
    </div>
</div>
{% endblock %}
