{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<!-- CDN SCRIPTS CSS go here -->
		<link rel="stylesheet" href="{% static 'styles/styles.css'%}" />
		<script src="{% static 'scripts/app.js' %}" defer></script>
		<title>{% block title %}{% endblock %}</title>
	</head>

	<body>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/admin">Admin</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/books">Books</a></li>
					<li><a href="/authors">Authors</a></li>
					<li><a href="{% url 'book_create' %}">Add a Book</a></li>
					<li><a href="{% url 'authors_create' %}">Add an Author</a></li>		
					<li><a href=" ">Log In</a></li>

					
				</ul>
			</nav>
	
    {% block content %}

    {% endblock %}
	</body>
</html>
