{% load static %}

<!DOCTYPE html>	
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<!-- CDN SCRIPTS CSS go here -->
		<link rel="stylesheet" href="{% static 'styles/styles.css'%}" />
		<script src="{% static 'scripts/app.js' %}" defer></script>
		<title>{% block title %}{% endblock %}</title>
	</head>

	<body>
		<nav>
			<ul>
			{% if user.is_authenticated %}
				<li id="auth"><a href="{% url 'profile' user.username %}">Hello,  {{ user.username }}!</a></li>
				<li id="auth"><a href="{% url 'logout' %}">Logout</a></li>
				<li id="auth"><a href="/admin">DB Admin</a></li>
				<li><a href="{% url 'book_create' %}">Add Book</a></li>
				<li><a href="{% url 'authors_create' %}">Add Author</a></li>
			{% else %}
				<li id="auth"><a href="{% url 'login' %}">Login</a></li>
				<li id="auth"><a href="{% url 'signup' %}">Sign Up</a></li>
			{% endif %}
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/books">Books List</a></li>
				<li><a href="/authors">Authors List</a></li>
			</ul>
		</nav>
			{% block content %}
			{% endblock %}
	</body>
</html>
