{% extends 'base.html' %} 

{% block title %} 
Book List 📚 
{% endblock %} 

<body> 
{% block content %}
    <Header id="headerStyle"><h3>{{header}}</h3></Header>

    <div class='bodyStyle'>
        <!-- Search Form  -->
        <form> 
            <div>
                <input type="text" name="title" placeholder="title"/>
                <input type="submit" value="Search"/>
                <button><a href="{% url 'book_list' %}">Clear Search</a></button>
            </div>
        </form>

        <!-- Booklist Output  -->
        {% for book in books %}

            <div class="bookList">
                <div class="bookStyle">
                    <img src="{{book.img}}" alt="{{book.title}}"width="150" height="220">
                    <a href="{% url 'book_detail' book.pk %}">
                    <h4>{{book.title}}</h4></a>
                    <p>Published: {{book.published}}</p>
                    <p>Category: {{book.category}}</p>
                    <p>Added By: 
                    <a href='/user/{{book.user.username}}'>{{book.user.username}}</a></p>  
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}

<body> 
