{% extends 'base.html' %} 

{% block title %} 
Book Update 📚
{% endblock %} 

<body>
    {% block content %}
        <Header id="headerStyle"><p>Book Update</p></Header>

        <div class="formContainer">
			<div id="formStyle">
                <form action="" method="post">
                    {% csrf_token %} 
                    {{form.as_p}} 
                        <input type="submit" value="Submit" />
                </form>
            </div>
        </div>

    {% endblock %}
</body>
