{% extends 'base.html' %} 

{% block title %} 
Book List 📚 
{% endblock %} 

{% block content %}

<form>
    <div id="headerStyle">
        <!-- searches for the name of the book -->
        <input type="text" name="title" placeholder="title"/>
        <input type="submit" value="Search"/>
    </div>
    <!-- this a tag will redirect back to catlist without a query param! be sure to use the "name" you called the route in your main_app/urls.py -->
    <a href="{% url 'book_list' %}">Clear Search</a>
   
</form>

<h1>{{header}}</h1>
    {% for book in books %}
    <img src="{{book.img}}" alt="{{book.title}}"width="150" height="220">
        <a href="{% url 'book_detail' book.pk %}">
            <h3>Title: {{book.title}}</h3>
        </a>
		<h3>Author(s): {{book.author}}</h3>
        <h3>Published: {{book.published}}</h3>
        <h3>Publisher: {{book.publisher}}</h3>
        <h3>Category: {{book.category}}</h3>
        <h3>Added: {{book.created_at}}</h3>
    {% endfor %}
{% endblock %}



<!-- <Header id="headerStyle"><p>Books</p></Header> -->