{% extends 'base.html' %} 

{% block title %} 
Home 🏡 
{% endblock %} 

<body>
	{% block content %}
		<Header id="headerStyle"><p>Home</p></Header>

		<div class='blurbContainer'>
			<div id="blurb">
				<p>Welcome to the Django books app, this project is for practicing Django for backend framework, auth, CRUD, one to many relationship between users and books and the many to many relationship between books and authors. I hope you enjoy this simple library.</p>
			</div>
		</div>
		
	{% endblock %}
</body>
